:root {
  --clr-txt-base: #e4eaf1;
  --clr-txt-light: white;
  --clr-txt-dark: #c2d0e0;
  --clr-fxd-txt-base: #e4eaf1;
  --clr-fxd-txt-light: white;
  --clr-fxd-txt-dark: #c2d0e0;
  --clr-bg-base: #1b2638;
  --clr-bg-light: #2c3d5a;
  --clr-bg-dark: #0a0f16;
  --clr-acnt-base: #1374ef;
  --clr-acnt-light: #4390f2;
  --clr-acnt-dark: #0d5dc2;
  --clr-danger-base: red;
  --clr-danger-light: #ff3333;
  --clr-danger-dark: #cc0000;
  --clr-success-base: hsl(120, 100%, 40%);
  --clr-success-light: lime;
  --clr-success-dark: #009900;
  --fs-fxd: 1rem;
  --fs-sm: clamp(0.83rem, 0.05vw + 0.82rem, 1.2rem);
  --fs-base: clamp(1rem, 0.07vw + 0.98rem, 1.5rem);
  --fs-md: clamp(1.2rem, 0.09vw + 1.17rem, 1.88rem);
  --fs-lg: clamp(1.44rem, 0.13vw + 1.4rem, 2.34rem);
  --fs-xl: clamp(1.73rem, 0.17vw + 1.67rem, 2.93rem);
  --fs-xxl: clamp(2.07rem, 0.22vw + 2rem, 3.66rem);
  --fs-xxxl: clamp(2.49rem, 0.29vw + 2.39rem, 4.58rem);
}

.light {
  --clr-txt-base: #1b2638;
  --clr-txt-light: #2c3d5a;
  --clr-txt-dark: #0a0f16;
  --clr-bg-base: #e4eaf1;
  --clr-bg-light: white;
  --clr-bg-dark: #c2d0e0;
}

section h2 {
  font-size: var(--fs-md);
  letter-spacing: -1px;
}
section h2::after {
  content: ":";
}
section .wrapper {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 0.5em;
}

.statistics {
  --cols: 4;
}
@media (max-width: 720px) {
  .statistics {
    --cols: 2;
  }
}

.last-updates {
  --cols: 2;
}
@media (max-width: 720px) {
  .last-updates {
    --cols: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--clr-txt-base);
  font-size: var(--fs-base);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg-base);
}

img {
  width: 100%;
}

.flow > * + * {
  margin-top: 0.75em;
}

::-webkit-scrollbar {
  background-color: transparent;
  max-width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-acnt-base);
  border-radius: 100vmax;
}

input[name=main-search] {
  background-color: var(--clr-bg-base);
  border-radius: 100vmax;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  color: var(--clr-txt-base);
}
input[name=main-search]::-moz-placeholder {
  color: var(--clr-acnt-light);
}
input[name=main-search]::placeholder {
  color: var(--clr-acnt-light);
}
input[name=main-search]:hover, input[name=main-search]:focus {
  outline: 2px solid var(--clr-acnt-light);
  color: var(--clr-acnt-light);
}
input[name=main-search]:hover::-moz-placeholder, input[name=main-search]:focus::-moz-placeholder {
  opacity: 0;
}
input[name=main-search]:hover::placeholder, input[name=main-search]:focus::placeholder {
  opacity: 0;
}

.btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 0.75em;
  color: var(--clr-fxd-txt-base);
  font-size: var(--fs-base);
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}
.btn-primary {
  background-color: var(--clr-acnt-base);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--clr-acnt-dark);
}
.btn-primary:focus {
  outline: 2px solid var(--clr-acnt-light);
}
.btn-secondary {
  background-color: var(--clr-bg-base);
  color: var(--clr-txt-base);
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--clr-bg-dark);
}
.btn-secondary:focus {
  outline: 2px solid var(--clr-bg-light);
}
.btn-danger {
  background-color: var(--clr-danger-base);
}
.btn-danger:hover, .btn-danger:focus {
  background-color: var(--clr-danger-dark);
}
.btn-danger:focus {
  outline: 2px solid var(--clr-danger-light);
}
.btn-success {
  background-color: var(--clr-success-base);
}
.btn-success:hover, .btn-success:focus {
  background-color: var(--clr-success-dark);
}
.btn-success:focus {
  outline: 2px solid var(--clr-success-light);
}

.table-container {
  margin-inline: auto;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-bg-light);
  width: 300px;
  min-width: 100%;
  overflow-x: auto;
}
.table-container .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-container .table tr.dimmed {
  background-color: var(--clr-bg-dark) !important;
  cursor: no-drop;
}
.table-container .table tr.dimmed *:not(button, a) {
  font-weight: 300;
}
.table-container .table tbody tr:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-bg-light);
}
.table-container .table tbody tr:hover:not(.dimmed) {
  background-color: var(--clr-acnt-dark);
}
.table-container .table tbody tr:hover:not(.dimmed) *:not(.btn) {
  color: var(--clr-fxd-txt-base);
}
.table-container .table .btn {
  font-size: var(--fs-sm) !important;
  padding: 0.25em 0.5em;
  text-align: left;
}
.table-container .table td,
.table-container .table th {
  padding: 1rem 0.5em;
  text-align: center;
  font-size: var(--fs-sm) !important;
  white-space: nowrap;
}
.table-container .table td.btn-group,
.table-container .table th.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

#info-msg-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  isolation: isolate;
}
#info-msg-container #info-msg {
  background-color: var(--clr-success-dark);
  color: var(--clr-fxd-txt-base);
  padding: 1em;
  font-size: var(--fs-md);
}
#info-msg-container #info-msg.danger {
  background-color: var(--clr-danger-base) !important;
}

.count-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--clr-bg-dark);
  text-decoration: none;
}
.count-card:hover span {
  letter-spacing: 0;
  font-weight: 400;
}
.count-card span {
  font-size: var(--fs-sm);
  font-weight: 300;
  color: var(--clr-txt-dark);
  letter-spacing: -1px;
  transition: 200ms;
}
.count-card p {
  font-weight: 700;
  font-size: var(--fs-md);
}

.last-updates .wrapper > div {
  background-color: var(--clr-bg-dark);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.last-updates .wrapper > div .heading {
  padding: 0.5em;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: center;
}
.last-updates .wrapper > div .body {
  list-style: none;
}
.last-updates .wrapper > div .body li:hover {
  background-color: var(--clr-acnt-base);
}
.last-updates .wrapper > div .body li:hover * {
  color: var(--clr-fxd-txt-base) !important;
}
.last-updates .wrapper > div .body li:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-bg-base);
}
.last-updates .wrapper > div .body li a {
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
}
.last-updates .wrapper > div .body li a img {
  display: block;
  width: 100%;
  max-width: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.last-updates .wrapper > div .body li a .title {
  flex: 1;
}
.last-updates .wrapper > div .body li a .title p:first-of-type {
  font-weight: 700;
  font-size: var(--fs-sm);
}
.last-updates .wrapper > div .body li a .title p:last-of-type {
  font-size: var(--fs-sm);
  font-weight: 300;
  color: var(--clr-txt-dark);
}
.last-updates .wrapper > div .body li a > span {
  font-weight: 700;
  font-size: var(--fs-sm);
  letter-spacing: -1px;
}

.dots {
  position: relative;
  width: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
  isolation: isolate;
}
.dots:hover, .dots:focus {
  background-color: var(--clr-acnt-dark);
}
.dots:hover .list, .dots:focus .list {
  transform: scale(1);
}
.dots:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--clr-txt-base);
  box-shadow: 0 6px 0 0 var(--clr-txt-base), 0 -6px 0 0 var(--clr-txt-base);
}
.dots .list {
  position: absolute;
  bottom: 0;
  right: 75%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0);
  transform-origin: right center;
  transition: 150ms;
  border: 1px solid var(--clr-bg-light);
}
.dots .list > * {
  width: 100%;
}
.dots .list > *:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-bg-light);
}
.dots .list > *:hover {
  background-color: var(--clr-acnt-base);
  color: var(--clr-fxd-txt-base);
}

.main-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}
@media (max-width: 960px) {
  .main-wrapper {
    grid-template-columns: 1fr;
  }
}
.main-wrapper .main-aside {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  padding: 1em;
  height: 100vh;
  width: 200px;
  overflow-y: auto;
  background-color: var(--clr-bg-light);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 200ms;
  border-right: 1px solid var(--clr-bg-base);
}
.main-wrapper .main-aside input[name=main-search] {
  display: none;
  width: 100%;
}
@media (max-width: 960px) {
  .main-wrapper .main-aside input[name=main-search] {
    display: block;
  }
}
.main-wrapper .main-aside ::-webkit-scrollbar {
  background-color: transparent;
  max-width: 8px;
}
.main-wrapper .main-aside ::-webkit-scrollbar-thumb {
  background-color: var(--clr-acnt-base);
  border-radius: 100vmax;
}
@media (max-width: 960px) {
  .main-wrapper .main-aside {
    position: fixed;
    left: -100%;
    top: 0;
    min-width: 200px;
    max-width: 300px;
    height: 100%;
    border-radius: 0;
  }
  .main-wrapper .main-aside.opened {
    left: 0;
  }
}
.main-wrapper .main-aside .brand a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-block: 1em;
  text-decoration: none;
  text-align: center;
}
.main-wrapper .main-aside .brand a img {
  max-width: 30px;
}
.main-wrapper .main-aside .brand a h2 {
  font-size: var(--fs-md);
}
.main-wrapper .main-aside ul {
  list-style: none;
}
.main-wrapper .main-aside ul li a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.75em 0.5em;
  font-size: var(--fs-fxd);
  text-decoration: none;
  border-radius: 0.5em;
}
.main-wrapper .main-aside ul li a[aria-current=true] {
  font-weight: bold;
  background-color: var(--clr-bg-dark);
}
.main-wrapper .main-aside ul li a:focus, .main-wrapper .main-aside ul li a:hover {
  background-color: var(--clr-bg-base);
  color: var(--clr-txt-light);
  outline: none;
}
.main-wrapper .main-aside ul li a span {
  font-size: 1.75rem;
}
.main-wrapper .main header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0.5em 1em;
  background-color: var(--clr-bg-light);
  border-bottom: 1px solid var(--clr-bg-base);
}
@media (max-width: 540px) {
  .main-wrapper .main header {
    padding: 0.375em 0.5em;
  }
}
.main-wrapper .main nav {
  display: flex;
  align-items: center;
  font-size: var(--fs-base);
  gap: 1em;
}
.main-wrapper .main nav .brand a {
  text-decoration: none;
}
.main-wrapper .main nav .brand a h2 {
  font-size: var(--fs-md);
  white-space: nowrap;
}
.main-wrapper .main nav input {
  margin-left: auto;
}
@media (max-width: 300px) {
  .main-wrapper .main nav input {
    display: none;
  }
}
@media (max-width: 540px) {
  .main-wrapper .main nav input {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 960px) {
  .main-wrapper .main nav input {
    display: none;
    margin-left: 0;
  }
}
.main-wrapper .main nav .burger {
  display: none;
  position: relative;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  padding: 0.25em;
  border-radius: 0.25em;
}
@media (max-width: 960px) {
  .main-wrapper .main nav .burger {
    display: block;
    margin-left: auto;
  }
}
.main-wrapper .main nav .burger:hover::before, .main-wrapper .main nav .burger:hover::after, .main-wrapper .main nav .burger:focus::before, .main-wrapper .main nav .burger:focus::after {
  background-color: var(--clr-txt-base);
}
.main-wrapper .main nav .burger.opened::before, .main-wrapper .main nav .burger.opened::after {
  background-color: var(--clr-danger-base) !important;
}
.main-wrapper .main nav .burger.opened::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-wrapper .main nav .burger.opened::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main-wrapper .main nav .burger::before, .main-wrapper .main nav .burger::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 3px;
  border-radius: 100vmax;
  background-color: var(--clr-acnt-base);
  transition: 200ms;
}
.main-wrapper .main nav .burger::before {
  top: calc(33.333333% - 2px);
}
.main-wrapper .main nav .burger::after {
  top: 66.666666%;
}
.main-wrapper .main nav .mode {
  position: relative;
  width: 40px;
  height: 40px;
}
.main-wrapper .main nav .mode input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.main-wrapper .main nav .mode label {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 30px;
  border-radius: 100vmax;
  background-color: var(--clr-bg-dark);
  border: 1px solid var(--clr-bg-light);
  cursor: pointer;
}
.main-wrapper .main nav .mode label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 200ms;
}
.main-wrapper .main nav .mode label[data-theme-dark=false]::after {
  left: 5%;
  background-color: var(--clr-bg-dark);
  box-shadow: 5px -5px 0 0 white inset;
}
.main-wrapper .main nav .mode label[data-theme-dark=true]::after {
  left: 48%;
  background-color: hsl(39, 100%, 50%);
}
.main-wrapper .main nav .user {
  position: relative;
  cursor: pointer;
}
.main-wrapper .main nav .user h2 {
  padding-inline: 0.25em;
}
.main-wrapper .main nav .user h2:hover, .main-wrapper .main nav .user h2:focus {
  color: var(--clr-acnt-base);
}
.main-wrapper .main nav .user .list {
  position: absolute;
  right: 0;
  top: 225%;
  z-index: 5;
  isolation: isolate;
  background-color: var(--clr-bg-light);
  list-style: none;
  width: 200px;
  transition: 100ms;
  transform: scale(0);
  transform-origin: top right;
  border: 1px solid var(--clr-bg-dark);
}
.main-wrapper .main nav .user .list.opened {
  transform: scale(1);
}
.main-wrapper .main nav .user .list a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.5em;
  color: var(--clr-txt-base);
}
.main-wrapper .main nav .user .list a:hover {
  background-color: var(--clr-acnt-base);
  color: var(--clr-fxd-txt-light);
}
.main-wrapper .main main {
  padding: 0.75em 1em;
}
.main-wrapper .main footer {
  margin-top: 1em;
  padding: 0.5em 1em;
  text-align: center;
  font-size: var(--fs-sm);
  border-top: 1px solid var(--clr-bg-light);
}
.main-wrapper .main footer span a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--fs-sm);
  color: var(--clr-acnt-base);
}

.container > h1:first-of-type {
  font-size: var(--fs-xl);
  font-weight: 600;
  letter-spacing: -2px;
}
.container > h1:first-of-type::after {
  font-size: var(--fs-md);
  content: " :";
}

.login-bg {
  background: url("../images/login-landscape-1.jpg");
  min-height: 100vh;
  width: 100%;
}
.login-bg .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 300px;
  min-height: 100vh;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 540px) {
  .login-bg .login {
    padding-top: 2em;
    justify-content: flex-start;
    width: 100%;
  }
}
.login-bg .login h1 {
  font-size: var(--fs-lg);
}
.login-bg .login input {
  width: calc(100% - 3rem);
}
.login-bg .login .login-input {
  padding: 0.5em 0.75em;
  outline: none;
  border: none;
  background-color: var(--clr-bg-base);
  font-size: var(--fs-md);
}
.login-bg .login .login-input:focus, .login-bg .login .login-input:hover {
  outline: 1px solid var(--clr-acnt-base);
}
.login-bg .login .login-input::-moz-placeholder {
  font-size: var(--fs-base);
}
.login-bg .login .login-input::placeholder {
  font-size: var(--fs-base);
}
.login-bg .login span {
  position: relative;
  width: calc(100% - 3rem);
  display: block;
  padding: 0.5em 1em;
  background-color: var(--clr-danger-dark);
  animation: shake 5 100ms;
}
@keyframes shake {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.form {
  width: 100%;
  margin-inline: auto;
  padding: 1em 0;
}
.form h1 {
  text-align: center;
  font-size: var(--fs-lg);
  line-wrap: wrap;
}
.form .msgs {
  display: none;
  padding: 1em 1em 1em 2em;
  background-color: var(--clr-danger-light);
  border-radius: 0.5em;
}
.form .msgs.opened {
  display: block;
}
.form .msgs li {
  color: var(--clr-fxd-text-base);
  color: white;
}
.form .inputs.fields {
  --cols: 4;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  row-gap: 1.5em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  padding: 1em 0;
}
@media (max-width: 1400px) {
  .form .inputs.fields {
    --cols: 4;
  }
}
@media (max-width: 1200px) {
  .form .inputs.fields {
    --cols: 2;
  }
}
@media (max-width: 540px) {
  .form .inputs.fields {
    --cols: 1;
  }
}
.form .inputs.fields .form-input {
  position: relative;
}
.form .inputs.fields .form-input input {
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  background-color: var(--clr-bg-light);
  border: none;
  outline: none;
  transition: 100ms;
}
.form .inputs.fields .form-input input::-moz-placeholder {
  opacity: 0;
}
.form .inputs.fields .form-input input::placeholder {
  opacity: 0;
}
.form .inputs.fields .form-input input:hover {
  background-color: var(--clr-bg-base) !important;
  outline: 1px solid var(--clr-acnt-base);
  border: none !important;
}
.form .inputs.fields .form-input input:not(:-moz-placeholder-shown) {
  background-color: var(--clr-bg-dark);
  border-bottom: 1px solid var(--clr-acnt-base);
  height: calc(100% - 1px);
}
.form .inputs.fields .form-input input:focus, .form .inputs.fields .form-input input:not(:placeholder-shown) {
  background-color: var(--clr-bg-dark);
  border-bottom: 1px solid var(--clr-acnt-base);
  height: calc(100% - 1px);
}
.form .inputs.fields .form-input input:not(:-moz-placeholder-shown) + label {
  top: -60%;
  transform: translateY(0);
  font-size: var(--fs-sm);
}
.form .inputs.fields .form-input input:focus + label, .form .inputs.fields .form-input input:not(:placeholder-shown) + label {
  top: -60%;
  transform: translateY(0);
  font-size: var(--fs-sm);
}
.form .inputs.fields .form-input label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 200ms;
}
.form .inputs.checks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75em;
}
.form .inputs.checks .form-input-check input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form .inputs.checks .form-input-check input:checked + label {
  color: var(--clr-acnt-base);
  text-decoration: line-through;
}
.form .inputs.checks .form-input-check input:checked + label::before {
  width: 4px;
  transform: translate(8px, -65%) rotate(45deg);
  border-color: var(--clr-acnt-base);
  border-left-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
}
.form .inputs.checks .form-input-check label {
  position: relative;
  padding-left: 36px;
  font-weight: 500;
  cursor: pointer;
  transition: 150ms;
}
.form .inputs.checks .form-input-check label:hover, .form .inputs.checks .form-input-check label:focus {
  text-decoration: none !important;
  letter-spacing: 2px;
}
.form .inputs.checks .form-input-check label:focus {
  outline: 1px solid var(--clr-acnt-base);
  outline-width: 2px;
}
.form .inputs.checks .form-input-check label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid var(--clr-txt-base);
  transition: 150ms;
}/*# sourceMappingURL=main.css.map */