@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap");
:root {
  --clr-txt-base: #e4eaf1;
  --clr-txt-light: white;
  --clr-txt-dark: #c2d0e0;
  --clr-fxd-txt-base: #e4eaf1;
  --clr-fxd-txt-light: white;
  --clr-fxd-txt-dark: #c2d0e0;
  --clr-bg-base: #1b2638;
  --clr-bg-light: #2c3d5a;
  --clr-bg-dark: #0a0f16;
  --clr-acnt-base: #1374ef;
  --clr-acnt-light: #4390f2;
  --clr-acnt-dark: #0d5dc2;
  --clr-danger-base: red;
  --clr-danger-light: #ff3333;
  --clr-danger-dark: #cc0000;
  --clr-success-base: hsl(120, 100%, 40%);
  --clr-success-light: lime;
  --clr-success-dark: #009900;
  --fs-fxd: 1rem;
  --fs-sm: clamp(0.83rem, 0.05vw + 0.82rem, 1.2rem);
  --fs-base: clamp(1rem, 0.07vw + 0.98rem, 1.5rem);
  --fs-md: clamp(1.2rem, 0.09vw + 1.17rem, 1.88rem);
  --fs-lg: clamp(1.44rem, 0.13vw + 1.4rem, 2.34rem);
  --fs-xl: clamp(1.73rem, 0.17vw + 1.67rem, 2.93rem);
  --fs-xxl: clamp(2.07rem, 0.22vw + 2rem, 3.66rem);
  --fs-xxxl: clamp(2.49rem, 0.29vw + 2.39rem, 4.58rem);
}

.light {
  --clr-txt-base: #1b2638;
  --clr-txt-light: #2c3d5a;
  --clr-txt-dark: #0a0f16;
  --clr-bg-base: #e4eaf1;
  --clr-bg-light: white;
  --clr-bg-dark: #c2d0e0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--clr-txt-base);
  font-size: var(--fs-base);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg-base);
}

img {
  width: 100%;
}

.flow > * + * {
  margin-top: 0.75em;
}

::-webkit-scrollbar {
  background-color: transparent;
  max-width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-acnt-base);
  border-radius: 100vmax;
}

header {
  position: fixed;
  left: 0;
  width: 100%;
  height: 6rem;
}
header .special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-bg-dark);
  text-align: center;
  height: 2rem;
}
@media (max-width: 960px) {
  header .special {
    font-size: var(--fs-sm);
  }
}
header nav {
  position: absolute;
  top: 2rem;
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-acnt-base);
}
@media (max-width: 960px) {
  header nav {
    padding: 0.5em;
  }
}
header nav .brand {
  margin-left: 1em;
}
@media (max-width: 960px) {
  header nav .brand {
    margin-left: 0.25em;
  }
}
header nav .brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.125em;
  text-decoration: none;
  font-weight: 800;
}
header nav .brand a span {
  font-family: "Courier New", Courier, monospace;
  font-size: var(--fs-lg);
  color: var(--clr-fxd-txt-base);
  opacity: 0;
}
header nav .brand a > span:nth-child(1) {
  -webkit-animation: beat 300ms 1 300ms linear both;
          animation: beat 300ms 1 300ms linear both;
}
header nav .brand a > span:nth-child(2) {
  -webkit-animation: beat 300ms 1 600ms linear both;
          animation: beat 300ms 1 600ms linear both;
}
header nav .brand a > span:nth-child(3) {
  -webkit-animation: beat 300ms 1 900ms linear both;
          animation: beat 300ms 1 900ms linear both;
}
header nav .brand a > span:nth-child(4) {
  -webkit-animation: beat 300ms 1 1200ms linear both;
          animation: beat 300ms 1 1200ms linear both;
}
header nav .brand a > span:nth-child(5) {
  -webkit-animation: beat 300ms 1 1500ms linear both;
          animation: beat 300ms 1 1500ms linear both;
}
header nav .brand a > span:nth-child(6) {
  -webkit-animation: beat 300ms 1 1800ms linear both;
          animation: beat 300ms 1 1800ms linear both;
}
header nav .brand a > span:nth-child(7) {
  -webkit-animation: beat 300ms 1 2100ms linear both;
          animation: beat 300ms 1 2100ms linear both;
}
@-webkit-keyframes beat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes beat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header nav .burger {
  display: none;
  position: relative;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  padding: 0.25em;
  border-radius: 0.25em;
}
@media (max-width: 960px) {
  header nav .burger {
    display: block;
  }
}
header nav .burger:hover::before, header nav .burger:hover::after, header nav .burger:focus::before, header nav .burger:focus::after {
  background-color: var(--clr-fxd-txt-dark);
}
header nav .burger.opened::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
header nav .burger.opened::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
header nav .burger::before, header nav .burger::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 3px;
  border-radius: 100vmax;
  background-color: var(--clr-fxd-txt-base);
  -webkit-transition: 200ms;
  transition: 200ms;
}
header nav .burger::before {
  top: calc(33.333333% - 2px);
}
header nav .burger::after {
  top: 66.666666%;
}
header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: auto;
}
@media (max-width: 960px) {
  header nav .links {
    margin-left: 0;
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 3rem);
    width: 100%;
    background-color: var(--clr-acnt-base);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  header nav .links.opened {
    display: block;
  }
  header nav .links > li {
    width: 100%;
    line-height: normal !important;
    min-height: auto !important;
  }
  header nav .links > li:not(:last-of-type) {
    border-bottom: 1px solid var(--clr-acnt-light);
  }
  header nav .links > li > a {
    display: block;
    padding: 1.5em 1em;
  }
  header nav .links > li > a:hover {
    background-color: var(--clr-acnt-dark);
  }
  header nav .links > li > a::after {
    display: none;
  }
}
header nav .links > li {
  min-height: 4rem;
  line-height: 4rem;
  padding-inline: 1em;
}
@media (max-width: 960px) {
  header nav .links > li {
    padding-inline: 0;
  }
}
header nav .links > li > a {
  position: relative;
  display: block;
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--fs-sm);
  color: var(--clr-fxd-txt-base);
}
header nav .links > li > a::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--clr-fxd-txt-base);
  -webkit-transition: 200ms;
  transition: 200ms;
}
header nav .links > li > a:hover::after {
  width: 100%;
}
@media (max-width: 960px) {
  header nav .links > li:nth-of-type(2) > a,
  header nav .links > li:nth-of-type(3) > a {
    display: block;
    position: relative;
  }
  header nav .links > li:nth-of-type(2) > a.opened::before,
  header nav .links > li:nth-of-type(3) > a.opened::before {
    -webkit-transform: translateY(calc(-50% + 5px)) rotate(225deg);
            transform: translateY(calc(-50% + 5px)) rotate(225deg);
  }
  header nav .links > li:nth-of-type(2) > a::before,
  header nav .links > li:nth-of-type(3) > a::before {
    content: "";
    position: absolute;
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 5px)) rotate(45deg);
            transform: translateY(calc(-50% - 5px)) rotate(45deg);
    width: 10px;
    height: 10px;
    border: 2px solid var(--clr-fxd-txt-base);
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
}
header nav .links > li:hover a + .categories,
header nav .links li:hover a + .items {
  opacity: 1;
  left: 0;
  background-color: var(--clr-acnt-dark);
}
header nav .links .categories,
header nav .links .items {
  position: fixed;
  top: 6rem;
  left: -100%;
  opacity: 0;
  width: 100%;
  max-height: 10rem;
  overflow: auto;
  list-style: none;
  line-height: normal;
  -webkit-transition: 200ms left, 100ms opacity, 400ms background-color;
  transition: 200ms left, 100ms opacity, 400ms background-color;
}
header nav .links .categories li,
header nav .links .items li {
  width: 100%;
}
header nav .links .categories li a,
header nav .links .items li a {
  padding: 0.5em 1.5em;
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  color: var(--clr-fxd-txt-base);
}
header nav .links .categories li a:hover,
header nav .links .items li a:hover {
  background-color: var(--clr-acnt-light);
}
@media (max-width: 960px) {
  header nav .links .categories,
  header nav .links .items {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;
    width: 100%;
    max-height: none;
    overflow: visible;
    list-style: none;
  }
  header nav .links .categories.opened,
  header nav .links .items.opened {
    display: block;
  }
  header nav .links .categories li,
  header nav .links .items li {
    width: 100%;
  }
  header nav .links .categories li a,
  header nav .links .items li a {
    padding: 0.5em 1.5em;
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif !important;
    color: var(--clr-fxd-txt-base);
  }
  header nav .links .categories li a:hover,
  header nav .links .items li a:hover {
    background-color: var(--clr-acnt-light);
  }
}
header nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  height: 3rem;
  margin-left: auto;
}
header nav .icons li a {
  display: block;
  position: relative;
  isolation: isolate;
}
header nav .icons li a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-transition: 150ms;
  transition: 150ms;
  background-color: rgba(0, 0, 0, 0.3);
}
header nav .icons li a:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
header nav .icons li a i {
  color: var(--clr-fxd-txt-base);
  font-size: 1.5rem;
}
@media (max-width: 960px) {
  header nav .icons {
    display: none;
    margin-left: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  header nav .icons.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .icons li a i {
    color: var(--clr-text-base);
  }
}
header nav #shopping-cart-btn {
  display: block;
  position: relative;
  isolation: isolate;
  margin-right: 1rem;
  margin-left: 1.25em;
}
@media (max-width: 960px) {
  header nav #shopping-cart-btn {
    margin-left: auto;
  }
}
header nav #shopping-cart-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-transition: 150ms;
  transition: 150ms;
  background-color: rgba(0, 0, 0, 0.3);
}
header nav #shopping-cart-btn:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
header nav #shopping-cart-btn i {
  color: var(--clr-fxd-txt-base);
  font-size: 1.5rem;
}

.blur.opened {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

aside.shopping-cart {
  position: fixed;
  right: -120%;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  z-index: 1001;
  min-height: 100vh;
  width: min(100%, 400px);
  border-left: 1px solid var(--clr-bg-light);
  background-color: var(--clr-bg-base);
}
aside.shopping-cart.opened {
  right: 0;
}
aside.shopping-cart .heading {
  position: sticky;
  padding: 1em;
  -webkit-box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.2);
}
aside.shopping-cart .heading h1 {
  font-size: var(--fs-lg);
}
aside.shopping-cart .heading span {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: var(--fs-xl);
  cursor: pointer;
}