@use "breakpoints" as *;

input[name="main-search"] {
  background-color: var(--clr-bg-base);
  border-radius: 100vmax;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  color: var(--clr-txt-base);
  &::placeholder {
    color: var(--clr-acnt-light);
  }
  &:hover,
  &:focus {
    outline: 2px solid var(--clr-acnt-light);
    color: var(--clr-acnt-light);
    &::placeholder {
      opacity: 0;
    }
  }
}

.login-input {
  padding: 0.5em 0.75em;
  outline: none;
  border: none;
  background-color: var(--clr-bg-base);
  font-size: var(--fs-md);
  &:focus,
  &:hover {
    outline: 1px solid var(--clr-acnt-base);
  }
  &::placeholder {
    font-size: var(--fs-base);
  }
}

.btn {
  display: block;
  width: fit-content;
  padding: 0.5em 0.75em;
  color: var(--clr-fxd-txt-base);
  font-size: var(--fs-base);
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  &-primary {
    background-color: var(--clr-acnt-base);
    &:hover,
    &:focus {
      background-color: var(--clr-acnt-dark);
    }
    &:focus {
      outline: 2px solid var(--clr-acnt-light);
    }
  }
  &-secondary {
    background-color: var(--clr-bg-base);
    &:hover,
    &:focus {
      background-color: var(--clr-bg-dark);
    }
    &:focus {
      outline: 2px solid var(--clr-bg-light);
    }
  }
  &-danger {
    background-color: var(--clr-danger-base);
    &:hover,
    &:focus {
      background-color: var(--clr-danger-dark);
    }
    &:focus {
      outline: 2px solid var(--clr-danger-light);
    }
  }
}

.table-container {
  overflow-x: auto;
  margin-inline: auto;
  border: 1px solid var(--clr-bg-light);
  @include br(md) {
    width: 300px;
    min-width: 100%;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    tbody tr:hover td {
      background-color: var(--clr-acnt-dark);
      color: var(--clr-fxd-txt-base);
    }
    tbody tr:nth-last-of-type(even) {
      background-color: var(--clr-bg-dark);
    }
    tbody tr:nth-last-of-type(odd) {
      background-color: var(--clr-bg-light);
    }
    .btn {
      font-size: var(--fs-sm) !important;
    }
    td,
    th {
      padding: 0.5em;
      text-align: center;
      font-size: var(--fs-sm) !important;
      white-space: nowrap;
      &.btn-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
      }
    }
  }
}
