@use "breakpoints" as *;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap");

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 6rem;
  .special {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-dark);
    text-align: center;
    height: 2rem;
    @include br(lg) {
      font-size: var(--fs-sm);
    }
  }
  nav {
    position: absolute;
    top: 2rem;
    height: 4rem;
    width: 100%;
    display: flex;
    @include br(lg) {
      padding: 0.5em;
    }
    padding: 0 1em;
    align-items: center;
    background-color: var(--clr-acnt-base);
    .brand {
      margin-left: 1em;
      @include br(lg) {
        margin-left: 0.25em;
      }
      a {
        display: flex;
        align-items: center;
        gap: 0.125em;
        text-decoration: none;
        font-weight: 800;
        span {
          font-family: "Montserrat", sans-serif !important;
          font-size: var(--fs-lg);
          text-transform: uppercase;
          color: var(--clr-fxd-txt-base);
          opacity: 0;
          font-weight: 300;
        }
        @for $i from 1 through 7 {
          $delay: $i * 300;
          > span:nth-child(#{$i}) {
            animation: beat 300ms 1 #{$delay}ms linear both;
          }
        }
        @keyframes beat {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
    .burger {
      display: none;
      @include br(lg) {
        display: block;
        margin-left: auto;
      }
      position: relative;
      min-width: 30px;
      min-height: 30px;
      cursor: pointer;
      padding: 0.25em;
      border-radius: 0.25em;
      &:hover,
      &:focus {
        &::before,
        &::after {
          background-color: var(--clr-fxd-txt-dark);
        }
      }
      &.opened {
        &::before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 3px;
        border-radius: 100vmax;
        background-color: var(--clr-fxd-txt-base);
        transition: 200ms;
      }
      &::before {
        top: calc(33.333333% - 2px);
      }
      &::after {
        top: 66.666666%;
      }
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-left: auto;
      > li {
        min-height: 4rem;
        line-height: 4rem;
        @include br(lg) {
          padding-inline: 0;
        }
        > a {
          position: relative;
          display: block;
          font-family: "Montserrat", sans-serif !important;
          text-transform: uppercase;
          text-decoration: none;
          font-size: var(--fs-sm);
          padding: 0 1em;
          color: var(--clr-fxd-txt-base);
          &[aria-current="true"] {
            background-color: var(--clr-acnt-light);
          }
          &:hover,
          &:focus {
            background-color: var(--clr-acnt-dark);
          }
        }
      }
      @include br(lg) {
        margin-left: 0;
        display: none;
        &.opened {
          display: block;
        }
        position: absolute;
        left: 0;
        top: calc(100% + 3rem);
        width: 100%;
        background-color: var(--clr-acnt-base);
        flex-direction: column;
        gap: 0;
        > li {
          width: 100%;
          line-height: normal !important;
          min-height: auto !important;
          &:not(:last-of-type) {
            border-bottom: 1px solid var(--clr-acnt-light);
          }
          > a {
            display: block;
            padding: 1.5em 1em;
            &:hover {
              background-color: var(--clr-acnt-dark);
            }
            &::after {
              display: none;
            }
          }
        }
      }

      @include br(lg) {
        > li:nth-of-type(2) > a,
        > li:nth-of-type(3) > a {
          display: block;
          position: relative;
          &.opened::before {
            transform: translateY(calc(-50% + 5px)) rotate(225deg);
          }
          &::before {
            content: "";
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(calc(-50% - 5px)) rotate(45deg);
            width: 10px;
            height: 10px;
            border: 2px solid var(--clr-fxd-txt-base);
            border-top-color: transparent;
            border-left-color: transparent;
            transition: 200ms;
          }
        }
      }

      > li:hover a + .categories,
      li:hover a + .items {
        opacity: 1;
        left: 0;
        background-color: var(--clr-acnt-dark);
      }

      .categories,
      .items {
        position: fixed;
        top: 6rem;
        left: -100%;
        opacity: 0;
        width: 100%;
        max-height: 10rem;
        overflow: auto;
        list-style: none;
        line-height: normal;
        transition: 200ms left, 100ms opacity, 400ms background-color;
        li {
          width: 100%;
          a {
            padding: 0.5em 1.5em;
            display: block;
            width: 100%;
            text-decoration: none;
            font-family: "Montserrat", sans-serif !important;
            color: var(--clr-fxd-txt-base);
            &:hover {
              background-color: var(--clr-acnt-light);
            }
          }
        }
        @include br(lg) {
          position: relative;
          top: 0;
          left: 0;
          display: none;
          &.opened {
            display: block;
          }
          opacity: 1;
          width: 100%;
          max-height: none;
          overflow: visible;
          list-style: none;
          li {
            width: 100%;
            a {
              padding: 0.5em 1.5em;
              display: block;
              width: 100%;
              text-decoration: none;
              font-family: "Montserrat", sans-serif !important;
              color: var(--clr-fxd-txt-base);
              &:hover {
                background-color: var(--clr-acnt-light);
              }
            }
          }
        }
      }
    }
    .icons {
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      gap: 1.5em;
      height: 3rem;
      margin-left: auto;
      li {
        a {
          display: block;
          position: relative;
          isolation: isolate;
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: -1;
            width: 50px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            transition: 150ms;
            background-color: rgba(0, 0, 0, 0.3);
          }
          &:hover::before {
            transform: translate(-50%, -50%) scale(1);
          }
          i {
            color: var(--clr-fxd-txt-base);
            font-size: 1.5rem;
          }
        }
      }
      @include br(lg) {
        display: none;
        margin-left: none;
        &.opened {
          display: flex;
        }
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--clr-bg-base);
        li {
          a {
            i {
              color: var(--clr-text-base);
            }
          }
        }
      }
    }
    #shopping-cart-btn {
      display: block;
      position: relative;
      isolation: isolate;
      margin-right: 1rem;
      margin-left: 1.25em;
      cursor: pointer;
      span {
        position: absolute;
        top: -12px;
        right: -6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--clr-danger-light);
        color: var(--clr-fxd-txt-base);
        font-weight: 700;
        text-align: center;
        font-size: var(--fs-sm);
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: -1;
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transition: 150ms;
        background-color: rgba(0, 0, 0, 0.3);
      }
      &:hover::before {
        transform: translate(-50%, -50%) scale(1);
      }
      i {
        color: var(--clr-fxd-txt-base);
        font-size: 1.5rem;
      }
    }
  }
}

.blur.opened {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

aside.shopping-cart {
  position: fixed;
  right: -120%;
  &.opened {
    right: 0;
  }
  transition: 400ms;
  top: 0;
  z-index: 1001;
  height: 100vh;
  width: min(100%, 400px);
  border-left: 1px solid var(--clr-bg-light);
  background-color: var(--clr-bg-base);
  overflow: auto;
  .heading {
    position: sticky;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: inherit;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    h1 {
      font-size: var(--fs-lg);
    }
    span {
      position: absolute;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      font-size: var(--fs-xl);
      cursor: pointer;
    }
  }
  .body {
    padding: 0.5em;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      padding: 0.5em;
      transition: 100ms;
      &:hover {
        background-color: var(--clr-bg-dark);
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--clr-bg-light);
      }
      > img {
        max-width: 100px;
        aspect-ratio: 3/2;
        object-fit: cover;
        flex: 25%;
      }
      i {
        font-size: var(--fs-lg);
      }
      .info {
        flex: 75%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        .row-1,
        .row-2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .row-1 {
          span:first-of-type {
            font-size: var(--fs-md);
            font-weight: 500;
          }
          span:last-of-type {
            cursor: pointer;
            &:hover {
              i {
                color: var(--clr-danger-light);
              }
            }
            i {
              font-size: var(--fs-base) !important;
            }
          }
        }
        .row-2 {
          .control {
            display: flex;
            gap: 0.25em;
            span {
              cursor: pointer;
              &:hover {
                i {
                  color: var(--clr-acnt-base);
                }
              }
            }
          }
          > span:last-of-type {
            font-weight: 500;
            font-size: var(--fs-sm);
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
  .footer {
    position: sticky;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1em;
    background-color: inherit;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
    .subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      font-weight: 300;
      font-size: var(--fs-sm);
      color: var(--clr-text-dark);
    }
    a {
      width: 100%;
      text-align: center;
    }
  }
}

main {
  margin-top: 6rem;
  .wrapper {
    width: min(100%, 1200px);
    padding: 1em;
    margin-inline: auto;
  }
}
