@use "../breakpoints" as *;

.form {
  h1 {
    text-align: center;
    font-size: var(--fs-lg);
  }
  .msgs {
    display: none;
    padding: 1em 1em 1em 2em;
    background-color: var(--clr-danger-light);
    border-radius: 0.5em;
    &.opened {
      display: block;
    }
    li {
      color: var(--clr-fxd-text-base);
      color: white;
    }
  }
  width: 100%;
  margin-inline: auto;
  padding: 1em 0;
  .inputs.fields {
    --cols: 4;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    row-gap: 1.5em;
    column-gap: 1em;
    padding: 1em 0;
    @include br(xxl) {
      --cols: 4;
    }
    @include br(xl) {
      --cols: 2;
    }
    @include br(sm) {
      --cols: 1;
    }

    .form-input {
      position: relative;
      input {
        width: 100%;
        height: 100%;
        padding: 0.5em 1em;
        background-color: var(--clr-bg-light);
        border: none;
        outline: none;
        transition: 100ms;
        border-bottom: 1px solid var(--clr-bg-light);
        &::placeholder {
          opacity: 0;
        }
        &:hover {
          background-color: var(--clr-bg-base) !important;
          border-color: var(--clr-acnt-base);
        }
        &:focus,
        &:not(:placeholder-shown) {
          background-color: var(--clr-bg-dark);
          // border-bottom: 1px solid var(--clr-acnt-base);
          height: calc(100% - 1px);
          + label {
            top: -60%;
            transform: translateY(0);
            font-size: var(--fs-sm);
          }
        }
      }
      label {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 200ms;
      }
    }
    .form-input-select {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      select {
        width: 100%;
        height: 100%;
        padding: 0.5em 1em;
        background-color: var(--clr-bg-light);
        border: none;
        outline: none;
        transition: 100ms;
        order: 2;
        flex: 1;
        &:hover {
          background-color: var(--clr-bg-base) !important;
          outline: 1px solid var(--clr-acnt-base);
          border: none !important;
        }
        &:focus,
        &:not(:placeholder-shown) {
          background-color: var(--clr-bg-dark);
          border-bottom: 1px solid var(--clr-acnt-base);
          height: calc(100% - 1px);
          + label {
            top: -60%;
            transform: translateY(0);
            font-size: var(--fs-sm);
          }
        }
      }
      label {
        font-size: var(--fs-base) !important;
        border: 1px solid var(--clr-bg-light);
        background-color: var(--clr-bg-light);
        padding: 0.5em 1em;
        order: 1;
        &::after {
          content: ":";
        }
      }
    }
    .form-input-file {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      input {
        width: 100%;
        height: 100%;
        padding: 0.375em 1em;
        background-color: var(--clr-bg-light);
        border: none;
        outline: none;
        transition: 100ms;
        order: 2;
        flex: 1;
        &::-webkit-file-upload-button {
          margin-right: 1em;
          width: fit-content;
          padding: 0.25em 0.75em;
          color: var(--clr-fxd-txt-base);
          font-size: var(--fs-base);
          font-weight: 500;
          cursor: pointer;
          border: none;
          outline: none;
          text-decoration: none;
          background-color: var(--clr-acnt-base);
          &:hover,
          &:focus {
            background-color: var(--clr-acnt-dark);
          }
          &:focus {
            outline: 2px solid var(--clr-acnt-light);
          }
        }
        &:hover {
          background-color: var(--clr-bg-base) !important;
        }
        &:focus {
          outline: 1px solid var(--clr-acnt-base);
        }
        &:focus,
        &:not(:placeholder-shown) {
          background-color: var(--clr-bg-dark);
          border-bottom: 1px solid var(--clr-acnt-base);
          height: calc(100% - 1px);
          + label {
            top: -60%;
            transform: translateY(0);
            font-size: var(--fs-sm);
          }
        }
      }
      label {
        font-size: var(--fs-base) !important;
        background-color: var(--clr-bg-light);
        padding: 0.5em 1em;
        order: 1;
        &::after {
          content: ":";
        }
      }
    }
  }
  .inputs.checks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.75em;
    .form-input-check {
      input {
        appearance: none;
        &:checked {
          + label {
            color: var(--clr-acnt-base);
            text-decoration: line-through;
            &::before {
              width: 4px;
              transform: translate(8px, -65%) rotate(45deg);
              border-color: var(--clr-acnt-base);
              border-left-color: rgb(0, 0, 0, 0);
              border-top-color: rgb(0, 0, 0, 0);
            }
          }
        }
      }
      label {
        position: relative;
        padding-left: 36px;
        font-weight: 500;
        cursor: pointer;
        transition: 150ms;
        &:hover,
        &:focus {
          text-decoration: none !important;
          letter-spacing: 2px;
        }
        &:focus {
          outline: 1px solid var(--clr-acnt-base);
          outline-width: 2px;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          border: 2px solid var(--clr-txt-base);
          transition: 150ms;
        }
      }
    }
  }
  .images-edit-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 1em;
    .image {
      position: relative;
      max-width: 100px;
      img {
        border: 3px solid white;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      a {
        padding: 0.25em !important;
        position: absolute;
        top: 3px;
        right: 3px;
      }
    }
  }
}
